@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);

html,body{
    height: 100%;
}

body{
    font-family: 'cwTeXHei', sans-serif;
}

nav{
    background-color: skyblue;    
}
nav .brand-logo i{
    float: none;
    padding-left: 10px;
}

 .parallax-container {
  height: 60%;
}
.shadow-text{
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.vcorner{
    text-align: center;
    position: absolute;
    left:auto;
    top:auto;
    bottom:2%;
    right: 2%;
   
}


video{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 100%;
    height: auto;
    z-index: 100;
    transform: translateX(-50%)translateY(-50%);
    transition: 1s opacity;
}

#about_me{
   background-color: burlywood;
}

div.infos{
    padding-left: 5%;
}

.div-gradient
{
background: linear-gradient(89deg, rgba(146, 133, 135, 1)16%, rgba(235, 220, 207, 0.8)84%); 
background: -moz-linear-gradient(89deg, rgba(146, 133, 135, 1)16%, rgba(235, 220, 207, 0.8)84%); 
background: -webkit-linear-gradient(89deg, rgba(146, 133, 135, 1)16%, rgba(235, 220, 207, 0.8)84%); 
background: -o-linear-gradient(89deg, rgba(146, 133, 135, 1)16%, rgba(235, 220, 207, 0.8)84%); 
}
